<div class="pageContainer">

  <div class="calculatorFrame"> 
    <!-- number buttons -->
    <div class="calculationDisplay">
      <span class="calculationText">
        0
      </span>
    </div>
    <div class="calculatorButton numberButton">
      <span class="buttonText">
        1
      </span>
    </div>
    <div class="calculatorButton numberButton">
      <span class="buttonText">
        2
      </span>
    </div>
    <div class="calculatorButton numberButton">
      <span class="buttonText">
        3
      </span>
    </div>
    <div class="calculatorButton numberButton">
      <span class="buttonText">
        4
      </span>
    </div>
    <div class="calculatorButton numberButton">
      <span class="buttonText">
        5
      </span>
    </div>
    <div class="calculatorButton numberButton">
      <span class="buttonText">
        6
      </span>
    </div>
    <div class="calculatorButton numberButton">
      <span class="buttonText">
        7
      </span>
    </div>
    <div class="calculatorButton numberButton">
      <span class="buttonText">
        8
      </span>
    </div>
    <div class="calculatorButton numberButton">
      <span class="buttonText">
        9
      </span>
    </div>
    <div class="calculatorButton numberButton">
      <span class="buttonText">
        0
      </span>
    </div>

    <!-- operatorButtons -->
    <div class="calculatorButton operatorButton">
      <span class="buttonText">
        ÷
      </span>
    </div>
    <div class="calculatorButton operatorButton">
      <span class="buttonText">
        x
      </span>
    </div>
    <div class="calculatorButton operatorButton">
      <span class="buttonText">
        -
      </span>
    </div>
    <div class="calculatorButton operatorButton">
      <span class="buttonText">
        +
      </span>
    </div>
    <div class="calculatorButton operatorButton">
      <span class="buttonText">
        =
      </span>
    </div>
    <div class="calculatorButton allClearButton">
      <span class="buttonText">
        AC
      </span>
    </div>
  </div>

  <div class="calculationHistoryDisplayContainer">
    <span class="calculationHistory">10 + 50 = 60</span>
  </div>

</div>